body {
    background: rgb(6, 63, 138);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: arial;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(1, 189, 247);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    background: rgb(245, 238, 219);
    display: flex;
    border: 2.75px solid rgb(223, 212, 178);
    border-radius: 8px;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.content {
    flex: 1;
    padding: 15px;
    
}
.content {
    position: relative;
    width: 50%;
  }
/* portfolio styles */
#interests {
    border: 4px silver ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}

#roundedmenu {
    border: 2px solid rgb(67, 145, 218);
    border-radius: 50px 60px;
  }

.sidebar-img{
    border: 3.5px solid rgb(192, 182, 153);
    border-radius: 17.5px;
    width: 350px;
    height: 250px;
}
